

body {
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: 'Avenir', sans-serif;
}

#title {
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.navbar > .container > a{
  padding-left:30px;
  padding-right:30px;
}


#calendar-wrapper{
	display:block;
}

#header-img {
	display: inline-block;
	position:relative;
	height: 100px;
	top:30px;
}

#header-txt {
	display: inline-block;
	position:relative;
	top:50px;
}

.container-fluid {
	position: relative;
	top: 150px;
}

.flex-container{
	padding: 50px 50px 50px 50px;
	display: -webkit-flex;
	display: flex;
	flex-direction:row;
}

.flex-item{
	width:50%;
	height:50%;
	padding:10px;
}

.event-list{
	padding:50px 50px 50px 50px;
}

#map-wrapper {
	display:block;
	float:right;
}

#map {
	height:600px;
}

#about-container{
	padding-top: 175px;
}

.btn {
	background-color: #FFB90F;/
	color: white;
	
}
