/*html { 
	background: url(stanford.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

.navbar > .container > a{
  padding-left:30px;
  padding-right:30px;
}

body {
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: 'Avenir', sans-serif;
}

#calendar-wrapper{
	display:block;
}


#map-wrapper {
	display:block;
	float:right;
}

#map {
	height:600px;
}

#header-img {
	display: inline-block;
	position:relative;
	height: 100px;
	top:30px;
}

#header-txt {
	display: inline-block;
	position:relative;
	top:50px;
}

.container-fluid {
	position: relative;
	top: 150px;
}

.btn {
	background-color: #FFB90F;/
	color: white;
	
}

.header {
	height: 200px;
	width: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

